<div class="filter-div">
  <div class="container">
    <div class="mx-auto">
      <button (click)="onClickAll($event)" class="btn btn-dark btn-sm mt-3 ml-3">All</button>
      <button (click)="onClickNone($event)" class="btn btn-dark btn-sm mt-3">None</button>
      <h5>Languages</h5>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="javascript" id="javascript" checked>
      <label class="form-check-label" for="javascript">
      Javascript
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="htmlcss" id="htmlcss">
      <label class="form-check-label" for="htmlcss">
      HTML/CSS
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="java" id="java">
      <label class="form-check-label" for="java">
      Java
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="cplusplus" id="cplusplus">
      <label class="form-check-label" for="cplusplus">
      C++
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="python" id="python">
      <label class="form-check-label" for="python">
        Python
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="objectivec" id="objectivec">
      <label class="form-check-label" for="objectivec">
      Objective C
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Lisp" id="Lisp">
      <label class="form-check-label" for="Lisp">
      Lisp
    </label>
    </div>

    <h5>Front End, Back End, Tools</h5>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="nodejs" id="nodejs">
      <label class="form-check-label" for="nodejs">
      NodeJS
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="express" id="express">
      <label class="form-check-label" for="express">
      Express
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="react" id="react">
      <label class="form-check-label" for="react">
        React
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="materialize" id="materialize">
      <label class="form-check-label" for="materialize">
        Materialize
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="bootstrap" id="bootstrap">
      <label class="form-check-label" for="bootstrap">
        Bootstrap
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="ajaxaxios" id="ajaxaxios">
      <label class="form-check-label" for="ajaxaxios">
        AJAX/axios
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="django" id="django">
      <label class="form-check-label" for="django">
      Django
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="angular" id="angular">
      <label class="form-check-label" for="angular">
      Angular
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="github" id="github">
      <label class="form-check-label" for="github">
        Git/Github
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="heroku" id="heroku">
      <label class="form-check-label" for="heroku">
        Heroku
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="mocha" id="mocha">
      <label class="form-check-label" for="mocha">
        Mocha/Chai
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="knex" id="knex">
      <label class="form-check-label" for="knex">
        Knex
      </label>
    </div>

    <h5>Databases</h5>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="postgres" id="postgres">
      <label class="form-check-label" for="postgres">
      PostgreSQL
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="oracle" id="oracle">
      <label class="form-check-label" for="oracle">
      Oracle
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="mysql" id="mysql">
      <label class="form-check-label" for="mysql">
      MySQL
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="mongo" id="mongo">
      <label class="form-check-label" for="mongo">
      Mongo
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="sqllite" id="sqllite">
      <label class="form-check-label" for="sqllite">
        SQLlite
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="firebase" id="firebase">
      <label class="form-check-label" for="firebase">
        Firebase/Firestore
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="sybase" id="sybase">
      <label class="form-check-label" for="sybase">
      Sybase
    </label>
    </div>

    <h5>Design/Video</h5>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="photoshop" id="photoshop">
      <label class="form-check-label" for="photoshop">
      Photoshop
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="premiere" id="premiere">
      <label class="form-check-label" for="premiere">
      Premiere
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="aftereffects" id="aftereffects">
      <label class="form-check-label" for="aftereffects">
      After Effects
    </label>
    </div>

    <h5>Platform/OS</h5>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="mac" id="mac">
      <label class="form-check-label" for="mac">
      Mac/OS
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="windows" id="windows">
      <label class="form-check-label" for="windows">
      PC/Windows
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="next" id="next">
      <label class="form-check-label" for="next">
        NeXT/mach
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="sun" id="sun">
      <label class="form-check-label" for="sun">
        SUN/Solaris
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="symbolics" id="symbolics">
      <label class="form-check-label" for="symbolics">
        Symbolics/Lisp
      </label>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="dec" id="dec">
      <label class="form-check-label" for="dec">
        DEC/HP/unix
      </label>
    </div>

  </div>
</div>
