.filter-div {
  min-height: 500px;
  border:2px solid gainsboro;
  margin-bottom: 10px;
}

h5 {
  margin: 10px;
  font-size: 0.7em;
  font-weight: bold;
}

.form-check {
  font-size: 11px;
}

.form-check-input {
  margin-top: 2px;
}
